{% load static %}
{% load django_bootstrap5 %}
<html>
<head>
    <meta charset="UTF-8">
    <title>ラクタンナビ</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'snippets/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    {% block extraheader %}{% endblock %}
</head>
<body>
    <header>
        {% if user.is_authenticated %}
            {% if user.is_manager %}
                <nav class="navbar navbar-expand flex-md-row navbar-dark bg-primary">
                    <div class="container justify-content-between">
                        <a href="/" class="navbar-brand">管理者ページ</a>
                        <ul class="navbar-nav mr-md-2">
                            <li><a class="nav-link text-white fw-bold" href="{% url 'lectures_new' %}"><i class="fa-solid fa-square-plus"></i> 講義作成</a></li>
                            <li><a class="nav-link text-white fw-bold" href="{% url 'lectures_index' %}"><i class="fa-solid fa-book-open"></i> 講義一覧</a></li>
                            <li><a class="nav-link text-white fw-bold" href="{% url 'users_index' %}"><i class="fa-solid fa-users"></i> 会員一覧</a></li>
                            <li>
                                <form action="{% url 'logout' %}" method="post" name="f_logout" class="mb-0">
                                    {% csrf_token %}
                                    <input type="hidden" name="logout" value="true">
                                    <a href="javascript:document.f_logout.submit()" class="logout nav-link"><i class="fa-solid fa-right-from-bracket"></i> ログアウト</a>
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>
            {% else %}
                <nav class="navbar navbar-expand flex-md-row navbar-light custom-navbar">
                    <div class="container justify-content-between">
                        <a href="/" class="navbar-brand cute-brand2">🎓ラクタンナビ🎓</a>
                        <ul class="navbar-nav mr-md-2">
                            <li><a class="nav-link fw-bold" href="{% url 'lectures_index' %}"><i class="fa-solid fa-book-open"></i> 講義一覧</a></li>
                            <li><a class="nav-link fw-bold" href="{% url 'users_show' request.user.id %}"><i class="fa-solid fa-user"></i> マイページ</a></li>
                            <li>
                                <form action="{% url 'logout' %}" method="post" name="f_logout" class="mb-0">
                                    {% csrf_token %}
                                    <input type="hidden" value="logout">
                                    <a href="javascript:f_logout.submit()" class="logout nav-link"><i class="fa-solid fa-right-from-bracket"></i> ログアウト</a>
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>
            {% endif %}
        {% else %}
        <nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark">
            <div class="container justify-content-between">
                <a href="/" class="navbar-brand cute-brand">🎓ラクタンナビ🎓</a>
                <ul class="navbar-nav mr-md-2">
                    <li><a class="nav-link text-white fw-bold" href="{% url 'lectures_index' %}"><i class="fa-solid fa-book-open"></i> 講義一覧</a></li>
                    <li class="nav-item"><a class="nav-link text-white fw-bold" href="{% url 'login' %}"><i class="fa-solid fa-right-to-bracket"></i> ログイン</a></li>
                    <li class="nav-item"><a class="nav-link text-white fw-bold" href="{% url 'signup' %}"><i class="fa-solid fa-user-plus"></i> 会員登録</a></li>
                </ul>
            </div>
        </nav>
        {% endif %}
    </header>
    <main>
        <div class="container">
            {% if messages %}
              <div class="messages">
                {% for message in messages %}
                  <div class="alert
                    {% if message.tags %}
                      alert-{{ message.tags }}
                    {% else %}
                      alert-info
                    {% endif %}
                  ">
                    {{ message }}
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            {% block main %}{% endblock %}
        </div>
    </main>
</body>
</html>